/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}
*:focus{
	outline: 0;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
input, 
textarea,
button{
	outline: none;
	border: none;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button {
	cursor: pointer;
	padding: 0;
}
blockquote {
	margin: 0;
}
textarea{
	resize: vertical;
}
/* ===== Reset end ===== */
/* ===== Default classes start */
/* 
	text color, text align, float, backgrounds colors, text transform
*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.bg-black {
	background-color: #111;
}

.bg-grey {
	background-color: #f8f8f8;
}
.m-auto{
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float:right;
}
/* ===== Default classes end */
/* ===== Guide section start ===== */
.guide-section form .form-control + .form-control{
	margin-top: 10px;
}
/* ===== Guide section end ===== */
/* ===== Default component start ===== */
/* 
	Buttons, text, title, section, small-section header, footer,
	form elements, icons, tabs, blockquote, container 
*/
.form-control{
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 0 13px;
	font-size: 12px;
	height: 36px;
	font-style: Cookie;
	color: #777;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
}
textarea.form-control{
	min-height: 82px;
	padding: 13px;
}
.form-control:focus{
	border-color: #111;
}
.header{
	background: transparent;	
	width: 100%;
	position: fixed;
	font-family: 'Dosis', sans-serif ;
	z-index: 99;
}
/* .header::before{
    content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
    vertical-align: middle;
    margin-left: -4px;
} */
.container-fluid{
	padding: 0 15px;
}

.container {
	width: 1200px; /* 1200 - 30 = 1170 */
	padding: 0 15px;
	margin: auto;
}
 
.header .header-nav{
	float: right;
	font-family: 'Open Sans';
	line-height: 23px;
    font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, .75);
	letter-spacing: 5px;
	text-transform: uppercase;
	padding: 27px 0;
}
.header .logo{
    float: left;
	padding: 27px 0 ;
	opacity: .9;
}
.header .header-nav li{
    float: left;      
}
.header .header-nav li + li{
    margin-left: 35px;
}
.default-section {
	padding: 135px 0;
}

.home{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
.home-text {
    display: table-cell;
	height: 100vh;
	vertical-align: middle;	
	text-align: center;	
}
.home-text h1{
	margin-top: 0;
	/* position: relative; */
	letter-spacing: 52px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;    
    color:rgba(255, 255, 255, .9);
}
.home-text h1 span{
	display: inline-block;
	margin-top: 0;
	font-family: 'Open Sans';
	text-transform: none;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.2;
	color:rgba(255, 255, 255, .68);
	letter-spacing: normal;
	margin-top: 100px;
}

.inner{
	background: url('../img/first-project-lp.jpg') no-repeat center/cover;
	height: 100vh;
	font-family: 'Dosis', sans-serif;
}

.header h1 span{
    display: block;
    font-size: 19px;
    margin-bottom: 90px;
}


.small-section {
	padding: 70px 0;
}


.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em; /* 0.5em = .5em */
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}

.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}

blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span, 
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon i{
	transform: rotate(-45deg)
}
.rhomb-icon.black-icon{
	color: #fff;
	background-color: #111;
}
.rhomb-icon.white-icon{
	color: #000;
	background-color: #fff;
}
.form-info .fa{
	font-size: 12px;
}
/* ==== button ==== */
.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
}

.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}

.btn.btn-default:hover {
	background-color: #d1d0d0;
}

.btn.btn-black {
	background-color: #323232;
	color: #fff;
}

.btn.btn-black:hover {
	background-color: #000;
}

.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}

/* ==== button end ==== */
/* ===== Default component end ===== */
/* ===== About Studio */
.about{
	overflow: hidden;
	border-bottom: 1px solid #ececec;
}
/* .about:after{
	content: '';
	width: 100%;
	display: block;
	clear: both;
} */
.about-grid{
	margin-top: 77px;
}
.team-wraper{
	position: relative;
	width: 100%;
	top: 108px;
}
.team-item-img{
	filter: grayscale(1);	
}
.team-item .team-item-skills{
	top: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .2s linear;
}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.team-item-info{
	display: table;
	width: 100%;
	text-align: center;
}
.team-item-name{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 16px;
	font-family: 'Dosis';
	letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;    
    color:#777;
}
.team-item-role{
	display: block;
	margin-top: 0;
	font-family: 'Dosis';
	text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
	color:#777;
	letter-spacing: 5px;
}
/* ---- About Studio end ---- */
/* ---- Services ---- */
.services::after{
	content: '';
	width: 100%;
	display: block;
	clear: both;
}
.service-title{
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 10px;
	margin-bottom: 122px;
}
#tabs .tabs-nav li{
	float: left;
	width: 20%;
	text-align: center;
	font-family: 'Dosis';
	color: #a4a4a4;
}
#tabs .tabs-nav li span{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 78px;
	font-weight: 400;
	letter-spacing: 7px;
}
#tabs .tabs-nav li .icon{
	font-size: 48px;
	margin-bottom: 35px;
}

#tabs .tabs-nav .ui-state-active{
	color: #111;
}
/* ---- Services end ---- */
/* ---- Smal section */
.exclusive-services::after{
	content: '';
	width: 100%;
	display: block;
	clear: both;
}
.exclusive-services-title{
	font-weight: 300;
	letter-spacing: 5px;
	margin-top: 70px;
}
.exclusive-services-text{
	color: rgba(255, 255, 255, .7);
	font-family: 'Open sans';
	font-size: 15px;
	letter-spacing: normal;
	display: block;
	line-height: 26px;
	float: left;
	margin:28px 0 40px 0 ;
}
.exclusive-services-text span{
	display: block;
}
.image-section{
	float: right;
	margin-top: -102px;
}
.button-style{
	width: 169px;
	text-align: center;
	letter-spacing: 4px;
}
.button-style:hover {
	cursor: pointer;
	}
/* ---- Smal section end */
/* ---- Portfolio ---- */
.portfolio{
	overflow: hidden;
	padding-bottom: 0;	
}
.portfolio-title{
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 10px;
	margin-bottom: 80px;
} 

.portfolio-top-text{
	font-size: 15px;
	line-height: 26px;
	padding: 0 209px;
	text-align: center;
	color: #777;
}
.tabs-portfolio-nav .tab-name:hover{
	color: #000;
}
#tabs-portfolio .tabs-portfolio-nav li{
	float: left;
	width: 13%;
	text-align: center;
	font-family: 'Dosis';
	color: #a4a4a4;
}

.portfolio-image{
	filter: grayscale(1);
}

.portfolio-image:hover{
	filter: grayscale(0);
	transition: all .2s linear;
}

.portfolio-item{
	float: left;
	width: 33.333333%;
	padding: 4px;
}

.portfolio-item img{
	width: 100%;
	height: 410px;
}

.portfolio-nav{
	text-align: center;
	padding: 85px 0 51px 0;
}

.tabs-portfolio-nav{
	position: relative;
	left: 21em;
	font-family: 'Dosis';
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.portfolio-nav:after{	
	content: '';
	width: 100%;
	display: block;
	clear: both;	
}
/* ---- Portfolio end ---- */
/* banner start */
.banner-button-text{
	font-family: 'Open sans';
	letter-spacing: 3px;
	padding: 12px 10px;
	font-size: 14px;
	font-weight: 200;	

}
.banner-button{
	text-align: center;	
}
.banner-button:hover {
	cursor: pointer;
	}
/* / banner end */
/* ==== why choose us start=====*/

.benefits-item{
	text-align: center;
}
.benefits-item-title{
	font-family: 'Dosis';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 4px;
	padding: 35px 0;
	letter-spacing: 6px;
}
.benefits-item-text{
	line-height: 26px;
    text-align: justify;
    font-family: 'Open sans';
    font-weight: 200;
    font-size: 14px;
	color: #777;
}
.why-choose-us .row::after{
	content: '';
	width: 100%;
	display: block;
	clear: both;
	margin-bottom: 83px;
}
/* ==== why choose us end ====*/

/* ==== All news start ====*/
.latest-news{
	overflow: hidden;
}
.latest-news .section-title a{
	float: right;
	color: #999;
	font-size: 11px;
	letter-spacing: 5px;
}
.news-image{
	filter: grayscale(1);
	margin-bottom: 30px;
}
.news-image:hover{
	filter: grayscale(0);
	transition: all .2s linear;
}
.news-title{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 200;
	color: #777;
	font-family: 'Dosis';
	letter-spacing: 3px;
}
.news-text p{
	text-align: justify;
	width: 100%;
	display: inline-block;
}
.news-name-date{
	font-family: 'Dosis';
	text-transform: uppercase;
	font-size: 11px;
	padding: 17px 0 27px 0;
	letter-spacing: 5px;
}
.news-button{
	margin-top: 25px;
}
/* ==== All news end ====*/
/* ===== reviews start ===== */
.reviews-carousel{
	padding: 135px 0;
	overflow: hidden;
}
.icon-quote{
	font-size: 32px;
	margin-bottom: 23px;
	color: #fff;
}
.slide-content{
	width: 732px;
	margin: 0 31%;
}
.slide-content .title{
	letter-spacing: 7px;
}
.slide-content p{
	color: rgba(255, 255, 255, .75);
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	font-family: 'Open sans';
	margin-top: 44px;
}
.slide-content .review-autor{
	font-size: 11px;
	text-transform: uppercase;
	line-height: 38px;
	color: rgba(255, 255, 255, .30);
	letter-spacing: 3px;
	font-weight: 200;
}
.slick-dots{
	position: absolute;
	width: 100%;	
	bottom: 30px;
	text-align: center;
}
.slick-dots li{
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, .75);
	display: inline-block;
	margin: 0 5px;
	border: 1px black solid;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li.slick-active{
	background-color: black;
	border-color: rgba(255, 255, 255, .75);
}
.slick-dots li button{
	display: none;
}
.slick-arrow{
	position: absolute;
	height: 100%;
	cursor: pointer;
	top: 0;
}
.slick-arrow.slick-prev{
	left: 0;
	z-index: 1;		
}
.slick-arrow.slick-next{
	right: 0;	
}
.slick-arrow .carousel-button{
	width: 63px;
	height: 63px;
    background-color: #fff;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-left: -31px;
	margin-top: -31px;
}
.slick-arrow .carousel-button .fa{
	position: absolute;
	transform: rotate(45deg);
	font-size: 11px;
}
.slick-arrow.slick-prev .carousel-button .fa{
	bottom: 14px;
	right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa{
	left: 16px;
    top: 17px;
}
/* ===== reviews end ===== */

/* ===== stay informed start ===== */

.subscribe form .form-control{
	max-width: 291px;
	letter-spacing: 2px;
}
.stay-informed .title{
	font-size: 16px;
}
.form-info i{
	font-size: 12px;
}
.form-info span{
	color: #aaaaaa;
	font-size: 11px;
}
.form-info{
	margin-top: 19px;
}

/* ===== stay informed end ===== */
/* ===== Contact start===== */
.contacts{
	overflow: hidden;
}
.contacts .section-title-light{
	letter-spacing: 10px;
	font-weight: 500;
	margin-bottom: 98px;
}
.contact-title{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 13px;
}
.contact-items-wrapper{
	margin-top: 98px;
	margin-bottom: 80px;
}
.contact-items-wrapper::after{
	content: '';
	width: 100%;
	display: block;
	clear: both;
}
.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;	
}
.contact-item .contact-item-content{
	margin-left: 15px;
}
.contact-item .contact-item-content span{
	display: block;
}
.contact-form {
	margin-left:-10px;	
	margin-right: 25px;
	overflow: hidden;
}
.contact-form .form-col{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.contact-form .form-control + .form-control{
	margin-top: 10px;
}
.contact-form .form-info{
	line-height: 26px;
	margin-top: 20px;
}
.contact-form .btn{
	margin-top: 20px;
}
/* ===== Contact end===== */
/* ===== Map start===== */
#map{
	height: 410px;
}
.map-container{
	position: relative;
}
.on-map-block{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
}
.map-container:hover .on-map-block{
	display: none;
}
.map-block-content{
	display: block;
	text-align: center;
	margin-top: 167px;
}
.map-block-content span{
	display: block;
	margin-top: 28px;
	color: rgba(255, 255, 255, .75);
	font-size: 16px;
}
/* ===== Map end===== */

/* ===== footer start ===== */
.footer .foofter-logo{
	display: block;
}
/* ===== foofter end ===== */